<% layout ("layouts/boilerplate") %>
<body>
  <div class="row">
    <div class="col-8 offset-2">
  <h2 class="centered-heading">Edit Your Listing</h2>
  <form method="post" action="/listings/<%= listing._id %>?_method=PUT"  novalidate class="needs-validation"
    enctype="multipart/form-data">

    <div class="mb-3">
      <label class="form-lable for="title">Title</label>
      <input  class="form-control"  type="text"  name="listings[title]" value="<%= listing.title %>" required />
      <div class="invalid-feedback">
        Please enter title
       </div>
    </div>
    
    <div class="mb-3">
      <label class="form-lable" for="description">Description</label>
      <textarea class="form-control"  name="listings[description]" required><%= listing.description %></textarea>
      <div class="invalid-feedback">
        Please enter discription about place
       </div>
    </div>
    
    <div class="mb-3">
      <label class="form-lable for="image">Upload New Image </label>
      <input class="form-control"  type="file" name="listing[image]" />
    </div>
    

    <div class="row">
     <div class="col-4">
      <label class="form-lable for="price">Price</label>
      <input class="form-control" type="number"  name="listings[price]" value="<%= listing.price %>" required />
      <div class="invalid-feedback">
        price should be valid
       </div>
     </div>

     <div class="col-8">
      <label class="form-lable for="country">Country</label>
      <input class="form-control" type="text"  name="listings[country]" value="<%= listing.country %>" required />
      <div class="invalid-feedback">
        Please enter country name
       </div>
    </div>
    
   </div>
    
    <div class="md-3">
      <label class="form-lable for="location">Location</label>
      <input class="form-control" type="text"  name="listings[location]" value="<%= listing.location %>" required />
      <div class="invalid-feedback">
        Please enter your location
       </div>
    </div>
    <br>
    
    
      <button class="btn btn-success" type="submit">Edit</button>
      <br>
    <br>
    
  </form>
</div>
</div>
</body>
<script src="/js/script.js"></script>
