<% layout ("layouts/boilerplate") %>
<body>
  <h2>Edit Your Listing</h2>
  <form method="post" action="/listings/<%= listing._id %>?_method=PUT">
    <input type="text" name="listings[title]" value="<%= listing.title %>" required />
    <br>
    <textarea name="listings[description]" required><%= listing.description %></textarea>
    <br>
    <input type="text" name="listings[image]" value="<%= listing.image %>" required />
    <br>
    <input type="number" name="listings[price]" value="<%= listing.price %>"   required />
    <br>
    <input type="text" name="listings[location]" value="<%= listing.location  %>" required />
    <br>
    <input type="text" name="listings[country]" value="<%= listing.country  %>" required />
    <br>
    <button type="submit">Edit</button>
  </form>
</body>
